body {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.custom-date-picker {
  border-radius: 8px;
  padding: 20px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  vertical-align: top;
  background-color: white;
}

.dark .custom-date-picker {
  background-color: oklch(0.205 0 0);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 4px;
}

.custom-date-picker .react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.dark .custom-date-picker .react-datepicker__header {
  background-color: oklch(0.205 0 0);
}

.custom-date-picker .react-datepicker__day-name {
  color: #6b7280;
  width: 38px;
  height: 30px;
  margin: 0;
}

.dark .custom-date-picker .react-datepicker__day-name {
  color: #a1a1aa;
}

.custom-date-picker .react-datepicker__day {
  color: var(--color-primary);
  margin: 0;
  width: 38px;
  height: 30px;
  cursor: pointer;
}

.dark .custom-date-picker .react-datepicker__day:hover {
  background-color: oklch(0.269 0 0);
}

.custom-date-picker .react-datepicker__day--selected,
.custom-date-picker .react-datepicker__day--selected:hover {
  background-color: #2563eb !important;
  color: white;
}

.dark .custom-date-picker .react-datepicker__day--selected,
.dark .custom-date-picker .react-datepicker__day--selected:hover {
  background-color: #3b82f6 !important;
  color: black
}

.custom-date-picker .react-datepicker__day--keyboard-selected {
  background-color: white !important;
}

.dark .custom-date-picker .react-datepicker__day--keyboard-selected {
  background-color: oklch(0.205 0 0) !important;
}

.custom-date-picker .react-datepicker__day--disabled {
  color: #e5e7eb;
  cursor: default;
}

.dark .custom-date-picker .react-datepicker__day--disabled {
  color: #3f3f46;
}

.custom-date-picker .react-datepicker__day--outside-month {
  opacity: 0.5;
}

.custom-date-picker .react-datepicker__navigation {
  top: 21px;
}

.custom-date-picker .react-datepicker__current-month {
  color: #0a0a0a;
}

.dark .custom-date-picker .react-datepicker__current-month {
  color: #f5f5f5;
}
